/* Base styles */
*{
    margin: 0;
    padding: 0;
    --color-primary: #B00000;
}

body{
    margin: 50px 100px;
    font-family: 'Poppins', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

.btn-primary{
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;

}

.btn-secondary{
    border: none;
    background-color: white;
    border-radius: 0.5rem;
    outline: 1px solid black;
    padding: 0.75rem 1rem;

}

/* Nav Item Related */

.nav-item-padding{
    padding: 0 30px;
    font-weight: 600;
}

/* Hero Related */

.hero-title{
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.25;
}

.hero-text{
    color: #888;
}

/* Hero Left segment */
.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 1.5rem;
}

/* Hosting Service Area */
.hosting-icon-grid{
    grid-column-gap: 50px;
    grid-row-gap: 30px;
}

.hosting-icon-grid-item{
    grid-column: auto / span 4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hosting-icon-grid-item img{
    width: 100%;
}

/* Service Card */
.service-grid-item{
    grid-column: auto / span 3;
    text-align: center;
}

.service-card-title{
    font-weight: 600;
    font-size: 2rem;
}

.service-card-content{
    color: #888;
}

/* Feature section */
.feature-grid-custom{
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'A B' 
    'A C ';
}

.feature-grid-custom > section{
    padding: 3rem;
}

.feature-A{
    grid-area: A;
    display: flex;
    align-items: center;
}

.feature-B{
    grid-area: B;
}

.feature-C{
    grid-area: C;
}
/* Utility Class */
.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.border{
    border: 1px solid red;
}

.section-margin{
    margin-top: 40px;
    margin-bottom: 40px;
}

.w-50{
    width: 50%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}